<div class="container">
    <% if (typeof errors !='undefined') { %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(e => { %>
        <li><%= e.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://kit.fontawesome.com/b7c9c29312.js" crossorigin="anonymous"></script>
  <body>
  </br>
  </br>
    <section class="keranjang" id="keranjang">
        <center><h2 class="head">Keranjang Makanan </h2></center></br>

            <div class="row align-items-flex">
                <div class="col-md-1 col-md-7 text-md-start mb-4">
                    <h5 class="fw-bold">Makanan yang di Pilih</h5> 
                </div>
                <div class="col-10 col col-md-5">
                    <div class="input-group"> &emsp;&emsp;&emsp;&emsp;
                         <a href="/makanan" class="btn btn-primary btn-lg active mb-2" role="button" aria-pressed="true">Tambah Makanan</a></button> &emsp; 
                         <a href="/hasil" class="btn btn-success btn-lg active mb-2" role="button" aria-pressed="true">Hitung Kalori</a></button>
                        </div>
                </div>
        <div class="row">
 
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <img src="https://asset.kompas.com/crops/-f5twHSFFkYYRxy3Cg9VytJ1i5M=/0x298:750x798/375x240/data/photo/2020/09/25/5f6da653c1860.jpg" class="card-img-top" alt="...">
         
                    <div class="card-body">
                        <center><h5 class="card-title">Ayam Goreng</h5>
                            <p class="card-text mb-2"><small>1 potong</small></p></center>
                            <ul class="list-inline d-flex flex-wrap justify-content-around mb-1">
                                <li class="list-inline-item text-danger fw-bold"><small>275 Kkal</small></li>
                                <li class="list-inline-item text-info fw-bold"><small>0.29 Kg/CO<sub>2</sub></small>
                                </li>
                            </ul>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <img src="https://asset.kompas.com/crops/-f5twHSFFkYYRxy3Cg9VytJ1i5M=/0x298:750x798/375x240/data/photo/2020/09/25/5f6da653c1860.jpg" class="card-img-top" alt="...">
         
                    <div class="card-body">
                        <center><h5 class="card-title">Ayam Goreng</h5>
                            <p class="card-text mb-2"><small>1 potong</small></p></center>
                            <ul class="list-inline d-flex flex-wrap justify-content-around mb-1">
                                <li class="list-inline-item text-danger fw-bold"><small>275 Kkal</small></li>
                                <li class="list-inline-item text-info fw-bold"><small>0.29 Kg/CO<sub>2</sub></small>
                                </li>
                            </ul>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <img src="https://asset.kompas.com/crops/-f5twHSFFkYYRxy3Cg9VytJ1i5M=/0x298:750x798/375x240/data/photo/2020/09/25/5f6da653c1860.jpg" class="card-img-top" alt="...">
         
                    <div class="card-body">
                        <center><h5 class="card-title">Ayam Goreng</h5>
                            <p class="card-text mb-2"><small>1 potong</small></p></center>
                            <ul class="list-inline d-flex flex-wrap justify-content-around mb-1">
                                <li class="list-inline-item text-danger fw-bold"><small>275 Kkal</small></li>
                                <li class="list-inline-item text-info fw-bold"><small>0.29 Kg/CO<sub>2</sub></small>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
                <img src="https://asset.kompas.com/crops/-f5twHSFFkYYRxy3Cg9VytJ1i5M=/0x298:750x798/375x240/data/photo/2020/09/25/5f6da653c1860.jpg" class="card-img-top" alt="...">
     
                <div class="card-body">
                    <center><h5 class="card-title">Ayam Goreng</h5>
                        <p class="card-text mb-2"><small>1 potong</small></p></center>
                        <ul class="list-inline d-flex flex-wrap justify-content-around mb-1">
                            <li class="list-inline-item text-danger fw-bold"><small>275 Kkal</small></li>
                            <li class="list-inline-item text-info fw-bold"><small>0.29 Kg/CO<sub>2</sub></small>
                            </li>
                        </ul>
                   
                </div>
            </div>
        </div>
     