<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-transparent mb-0"><h5 class="text-center">Masuk Sebagai...</h5></div>
          <div class="card-body">
            <form method="POST" action="/home">
              


              <div class="form-group text-right">
                
                <center><a href="/login" class="btn btn-primary btn-lg active mb-2" role="button" aria-pressed="true">Login User</a>
                <h5>Atau</h5>
                <a href="/login/admin" class="btn btn-primary btn-lg active mb-2" role="button" aria-pressed="true">Login Admin</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>